<%= nested_form_for @product, html: { class: :'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, class: :'control-label' %>
    <div class="controls">
      <%= f.text_field :name, class: :'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, class: :'control-label' %>
    <div class="controls">
      <%= f.text_area :content, class: :'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, class: :'control-label' %>
    <div class="controls">
      <%= f.number_field :price, class: :'number_field' %>
    </div>
  </div>
  <div class="form-actions">
    <p>
      <%= f.link_to_add "Add new attachment", :attachments %>
    </p>
    <%= f.fields_for :attachments do |attachment| %>
      <%= attachment.file_field :photo %>
      <%= attachment.link_to_remove "Remove this attachment" %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-default btn-lg pull-left' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn btn-default btn-lg pull-left' %>
  </div>
<% end %>
