<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Content:</b>
  <%= @product.content %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>
<% @attachments.each do |attachment| %>
  <%= image_tag attachment.photo.url(:medium) %>
<% end %>

<h2>Review:</h2>
<%= render @reviews %>

<h2>Add a review:</h2>
<%= render "reviews/form" %>

<%= link_to 'Edit Product', edit_product_path(@product) %> |
<%= link_to 'Back to Products', products_path %>
